
*{
    margin: 0;
    padding: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */



.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    /* font-size: 84px; */
    color: aliceblue;
  }


body{
    background-color: #191818;
    color: aliceblue;
}



a{
    text-decoration: none;
    color: aliceblue;
}
li{
    list-style: none;
}
/* header section */
.header-container{
    padding: 5% 10% 0% 10%;
    background-image: linear-gradient(180deg,rgb(26, 25, 25),black);
    
}

header{
    /* margin: 5%  10% 0% 10%; */
    
    background-image: url(./images/Images\ 2.png) ;
    background-repeat: no-repeat;
    /* background-size: 360px 83%; */
    background-position: right bottom ;
    background-position-x: 90%;

    

}
.logo{
    color: rgb(255, 98, 0);
    font-style: italic;
}
.list{
    border: 1px solid rgba(255, 255, 255, 0.338);
    padding: 10px;
    border-radius: 1.5rem;

}
#menu-icon{
    display: none;
}
#active{
    background-color: rgb(255, 98, 0);
    padding: 9px 20px;
    margin-left: -9px;
    border-style: none;
    border-radius: 1.5rem;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    align-items: center;
}
/* banner */

.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-top: 15%;
}


.btn{
    display: flex;
}
.banner .description >h1{
    width: 400px;
}

.banner .description{
    width: 100%;
    height: 100%;
}
.banner .description h1,p{
    margin-bottom: 30px;
}
.banner .description , .notification{
    margin-top: 87px;
    /* width: 50%; */

    /* position: absolute; */
}
.description > h1{
    font-size: 64px;
    color: aliceblue;
    font-weight:700;

}
p{
    color: rgba(250, 235, 215, 0.47);
}


.btn-primary{
    color: aliceblue;
    background-color: rgb(255, 98, 0);
    border: none;
    border-radius: 1.5rem;
    padding: 15px 40px;
    margin-right: 24px;
    cursor: pointer;
}
.btn-secondary{
    color: aliceblue;
    background-color: rgb(20, 20, 20);
    border: 1.5px solid white;
    border-radius: 1.5rem;
    padding: 15px 40px;
    cursor: pointer;
}
.notification{
    height: 100%;
}
.notification-card{
    width: 150px;
    height: 60px;

    border: 1px solid rgba(255, 255, 255, 0.345);
    border-radius: 1rem;
    padding: 0px 20px;
    background-color: rgba(176, 171, 171, 0.226);
}
.notification-card h1{
    color: aliceblue;
    margin-left: 10px;

}
#card-1{
    margin-top: 20px;
    position: right top;
    margin-left: 63%;
    padding: 10px;
    font-size: small;
}
.card-1-description{
    margin: 0;
    padding: 0;
    
}
#card-2{
    margin-top: 49%;
    padding-bottom:0% ;
    margin-left: 3rem;
    padding: 10px;
}

.card-2-description{
    margin-top: 24px;
  
}
.card-2-description >p{
    width: 100%;
}
.card-2-description h2 ,p{
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 10px;


}
.video{
   font-size: xx-large;
   color: rgb(219, 65, 18);




}
span{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: larger;
    color: antiquewhite;
}
/* main section */
main{
    background-color: #050505;
    margin: 0;
    padding-bottom: 50px;


}
.habits{
    margin: 0% 10%;
    padding-top:50px ;

}
.habits h1,p{
    margin-bottom: 24px;
}



.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.habits .cards{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
    padding: 1rem;
}

.card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.cards .card{
    display: flex;
    flex-direction: column;
    justify-items: center;
}




.cards .card img{
    /* display: flex;
    justify-content: center; */
    border: 2px solid rgb(35, 37, 37);
    border-radius: 50%;
    margin-bottom: 24px;



}


.join-now{
    margin: 5% 10%;
    padding: 40px;
    border-radius: 1rem;
    background-color: rgba(65, 58, 50, 0.361);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 30px;
    width: auto;
    height: 400px;


}
.join-now img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
}
.join-btn{
    margin-top: 45px;
}
.h2
{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
}
.training{
    margin: 0% 10%;
}

.training-p{
    margin-left: 0;
}

.training-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;

}
.training-style img{
    width: 100%;
    height: 300px;
}

.bmi-title{
height: 100%;
width: 100%;
margin-top: 50px;

}
.bmi-title> h2{
    margin-left: 10%;
}
.bmi-title> p{
    margin-left: 10%;
}
.section-bmi{
    padding: 5% 10%;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
th,td{
    border: 1px solid rgba(250, 235, 215, 0.534);
    padding: 10px;
}
td{
    color: rgba(250, 235, 215, 0.534);
}

.section-bmi{
    background-color: #1d181899;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    /* gap: 100px; */
}
.bmi-calculator{
    width: 500px;
}

.bmi-calculator{
    margin-top: 40px;
}
.bmi-calculator h2, p{
    margin-bottom: 24px;
}
.one{
    display: flex;
    justify-content: space-between;
    gap: 100%;
    gap: 10px;

}
.input{
    background-color: rgba(87, 78, 68, 0.669);
    color: rgba(250, 247, 244, 0.491);
    width: 100%;
    padding: 15px;
    border-style: none;
    border-radius: .5rem;
    margin-bottom: 20px;

}
select >option{
    color: #060505;
}

/* team section */
.team-title{
    margin-top:  50px;

}
.team-title > h1{
    margin-bottom: 20px;
}
.team-title .p{
    
}

.our-team{
    margin: 5% 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    background-color: rgba(44, 41, 38, 0.674);
    padding: 24px;
    border-radius: .5rem;



}
.team-card{
    width: 100%;
    height: 100%;
    color: aliceblue;
    border-radius: .5rem;



}
.team-card h3, h6{
    display: flex;
    justify-content: flex-start;

}
h6{
    color: rgba(86, 80, 72, 0.959);
}
.name{
    padding-top: 250px;
    padding-left: 15px;
}
.trainer-1{
    background-image: url(./images/trainer1.png);
    background-repeat: no-repeat;
    background-size:100% 300px;

}
.trainer-2{
    background-image: url(./images/trainer2.png);
    background-repeat: no-repeat;
    background-size:100% 300px;
}
.trainer-3{
    background-image: url(./images/trainer3.png);
    background-repeat: no-repeat;
    background-size:100% 300px;
}
.trainer-4{
    background-image: url(./images/trainer4.png);
    background-repeat: no-repeat;
    background-size:100% 300px;

}
.trainer-5{
    background-image: url(./images/trainer5.png);
    background-repeat: no-repeat;
    background-size:100% 300px;

}
.trainer-6{
    background-image: url(./images/trainer6.png);
    background-repeat: no-repeat;
    background-size:100% 300px;
}


/* footer section */

footer{
    padding: 5% 10%;
}
.first p{
    margin-left: 0;
}

.footer-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);


    /* align-items:center; */
    gap: 2rem;



}
footer h1 ,h2{
    margin-bottom: 40px;
}

footer ul li{
    margin-bottom: 10px;
    color: rgb(133, 130, 126);
}
hr{
  color: #d21212fe;

}
#copy-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* @media screen control */

/* small device */
@media screen and (max-width:576px) {
    /* header section */
    header{
        background-image: none;
        
    }
    
    #menu-icon{
        display: block;
        color: aliceblue;
    }
    .list{
        border-style: none;
    }
    .list-item{
        display: none;
    }

    .banner .description >h1{
        width: 100%;
    }

    .banner {
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 0;
        width: 100%;

    }
    .banner .btn{
        display: flex;
        width: 100%;
        margin-top: 24px;

    }



    #small{
        padding: 10px;
        margin-right: 20px;
    }
    .btn-secondary{
        padding: 10px;
    }
    .notification{
        background-image: url(./images/Images\ 2.png);

        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;



    }
    #card-1{

        width: 130px;
        height: 70px;
        font-size: smaller;
        margin-right: 30%;
        margin-top: 10%;
        margin-left: 50%;
    }
    #card-1> h1,p{
        margin: 5px;
    }

    #card-2{
        width: 160px;
        height: 70px;
        font-size: smaller;
        margin-top: 40%;
        margin-left: 0;
    }
    #card-2> h2 {
        margin: 5px;
    }
    #card-2> p{
        margin: 5px;
    }

    /* main section */
    main{
        margin-top:-610px;
        width: 100%;
        height: 100%;
    }
    
    /* hebit section */

    .habits{
        position: relative;
        margin-top: 603px;
    }


    .habits .cards ,

    .join-now,
    .training-style,
    .footer-items, .our-team{
        grid-template-columns: repeat(1,1fr);

    }
    .card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }


    .join-now{
        height: 100%;
        padding: 24px;
    }
    .join-btn button{
        width: 100%;
    }
    .training-style img{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 1rem;
    }

    /* bmi calculator */
    .section-bmi{
        flex-direction: column;
        align-items: flex-start;

    }
    /* bmi section */
    .bmi-calculator{
        width: 100%;
    }
    .bmi-calculator h2{
        margin-left: 0;
    }

    .bmi-title>h2{
        margin-left: 10%;
    }
    .bmi-title >p{
        margin-left: 10%;
    }
    
    

    /* team section */
    .our-team{
        margin: 5%;
        padding: 5%;
    }
    .team-title{
        margin: 10%;
    }
    #team-p{
        margin-left: 10%;
        width: 280px;
    }

    /* footer */

    footer{
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .footer-items{

        padding:10% ;

    }
    .footer-items p{
        margin-right: 24px;
    }






}